<!-- <div class="Main_screen">
  <div class="img-container">
    <img
      src="https://images.unsplash.com/photo-1519003722824-194d4455a60c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1175&q=80"
      alt="">
    <div class="heading-container">
      <div class="heading">Transport Your Orders with Confidence and Ease
        <br> <br>
        <div class="subheading">
          "Trusted logistics solutions for seamless order management"
        </div>
      </div>
    </div>
  </div>
  <div class="img-box">
    <img src="https://images.pexels.com/photos/93398/pexels-photo-93398.jpeg" alt="">
    <div class="heading-box">
      <div class="heading-box">"Transport Your Orders with Confidence and Ease" is a catchy heading that conveys the
        idea that a logistics or shipping company can handle orders effectively and with confidence. It implies that the
        company's services are reliable and efficient, providing customers with peace of mind when it comes to shipping
        their orders"
        <br>
        <br>
        <button class="button_Readmore">Read More</button>
      </div>
    </div>
  </div>
  <div class="img-box1">
    <div class="heading-box1">
      <div class="heading-box1">Trusted logistics solutions for seamless order management" further emphasizes that the
        company is a reliable and expert in logistics and can provide solution for order management. This can be a great
        way for businesses that have a lot of orders to manage and are looking for a logistics partner to help them
        streamline their shipping process and focus on growing their business.
        <br>
        <br>
        <button class="button_Readmore">Read More</button>
      </div>
    </div>
    <img
      src="https://images.unsplash.com/photo-1601467995997-ac1ae9a8fff4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
      alt="">
  </div>
  <div class="img-box3">
    <img class="shadow-img"
      src="https://o.remove.bg/downloads/a6617621-81e8-4746-8805-1dd6c4e54d5c/truck-removebg-preview.png"
      style="width: 80%;" alt="">
    <div class="heading-box3">
      <div class="heading-box3">"Transport Your Orders with Confidence and Ease" is a catchy heading that conveys the
        idea that a logistics or shipping company can handle orders effectively and with confidence. It implies that the
        company's services are reliable and efficient, providing customers with peace of mind when it comes to shipping
        their orders"
        <br>
        <br>
        <button class="button_Readmore">Read More</button>
      </div>
    </div>
  </div>
  <hr>
  <div class="img-box4">
    <hr>
    <div class="img-contain">
      <div>
        <h1> INDUSTRY </h1><br>
        <h4>Our <br>
          Partners</h4><br>
        <h6>
          Click here to add your own content and customize the text. This is a great place to tell a story about your
          company and let your users know a little more about the company's history, the team's background, or any other
          information you'd like to share. Just click "Edit Text" to get started.
        </h6>
      </div>
    </div>
    <div class="heading-box4">
      <div class="section_1">
        <div>
          <img src="https://1000logos.net/wp-content/uploads/2021/11/Siemens-logo.png" style="width: 150px;">
          <div>
            Siemens
          </div>
        </div>
        <div>
          <img src="https://1000logos.net/wp-content/uploads/2021/11/Siemens-logo.png" style="width: 150px;">
          <div>
            Siemens
          </div>
        </div>
      </div>
      <br>
      <div class="section_2">
        <div>
          <img src="https://1000logos.net/wp-content/uploads/2021/11/Siemens-logo.png" style="width: 150px;">
          <div>
            Siemens
          </div>
        </div>
        <div>
          <img src="https://1000logos.net/wp-content/uploads/2021/11/Siemens-logo.png" style="width: 150px;">
          <div>
            Siemens
          </div>
        </div>
      </div>
    </div>
  </div>
<hr>
<div class="Timepasscontain">  <p> WORK IN Progess...</p>
  <br>
<button class="button_login" (click)="gotologinpage()"> Go to Login page </button>
</div>
  <div>
  </div>
</div> -->
<div class="screen">
  <nav class="navbar">
    <!-- LOGO -->
    <div class="logo">Siemens</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li><a href="#div_id">Home</a></li>
        <li><a href="#div_id1">Button1</a></li>
        
        <li><a href="#div_id2">Button2 </a></li>
        <li><a href="#div_id3">Button3</a></li>
      </div>
    </ul>
  </nav>
  <main>
    <section class="section-background parallax">
      <h2>Transport Your Orders with Confidence and Ease</h2>
    </section>
    <section class="text-bloc">
      <p>"Transport Your Orders with Confidence and Ease" is a catchy heading that conveys the
        idea that a logistics or shipping company can handle orders effectively and with confidence. It implies that the
        company's services are reliable and efficient, providing customers with peace of mind when it comes to shipping
        their orders"</p>
      <section>
        <section  id="div_id"  class="section-background parallax1">
          <h2>Mountain</h2>
        </section>
        <section class="text-bloc">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima fuga debitis quasi eius aliquid
            sapiente? Cumque blanditiis quibusdam, ex totam aliquam provident alias culpa, sit illo, eum doloribus
            doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit voluptatum
            aperiam pariatur numquam praesentium recusandae, ipsa at iusto eveniet, distinctio sunt dolore nemo veniam
            maiores vitae deserunt cum ducimus.</p>
          <section>
            <section  id="div_id1" class="section-background parallax2">
              <h2>Sea</h2>
            </section>
            <section class="text-bloc">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima fuga debitis quasi eius aliquid
                sapiente? Cumque blanditiis quibusdam, ex totam aliquam provident alias culpa, sit illo, eum doloribus
                doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit voluptatum
                aperiam pariatur numquam praesentium recusandae, ipsa at iusto eveniet, distinctio sunt dolore nemo veniam
                maiores vitae deserunt cum ducimus.</p>
              <section>
                <section id="div_id2" class="section-background parallax3">
                  <h2>Galaxy</h2>
                </section>
                <section class="text-bloc">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima fuga debitis quasi eius
                    aliquid sapiente? Cumque blanditiis quibusdam, ex totam aliquam provident alias culpa, sit illo, eum
                    doloribus doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit
                    voluptatum aperiam pariatur numquam praesentium recusandae, ipsa at iusto eveniet, distinctio sunt
                    dolore nemo veniam maiores vitae deserunt cum ducimus.</p>
                  <section>
                    <section  id="div_id3" class="section-background parallax4">
                      <h2>Galaxy</h2>
                    </section>
                    <section class="text-bloc">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis minima fuga debitis quasi eius
                        aliquid sapiente? Cumque blanditiis quibusdam, ex totam aliquam provident alias culpa, sit illo,
                        eum doloribus doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
                        reprehenderit voluptatum aperiam pariatur numquam praesentium recusandae, ipsa at iusto eveniet,
                        distinctio sunt dolore nemo veniam maiores vitae deserunt cum ducimus.</p>
                      <div class="login_button">
                        <button class="button-52" (click)="gotologinpage()"> Go to Login page </button>
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      <section>
                      </section>
                    </section>
                  </section>
                </section>
              </section>
            </section>
          </section>
        </section>
      </section>
    </section>
  </main>
</div>
