
<div class="table_heading">
    In Transit&nbsp; <input class="caseno" style="font-size: 45px; width: 80px;  text-align: center; color: red; background-color: black; " type="text" [value]="nibba5" disabled>
  </div>


<div class="container">
    <div class="india" id="map">
    </div> 
    <br>
  <div class="table4">

      <table >
          <thead>
              <tr>
                  <th>shipment Number </th>
                  <th>Vehicle No.</th>
                  <th>Documents<br>
                Fit||INC||PUC||NP||permit</th>
                <th>Fast tag</th>
                <th>Last loc.</th>
                  <th>Vehicle type</th>
                  <th>shipment created</th>
                  <th>from</th>
                  <th>to</th>
                  <th>expected time</th>
                  <th>gateInTime vs arrivalTime</th>
                  <th>departureTime vs gateInTime</th>
                  <th>remaing kms</th>
              </tr>
          </thead>
          <tbody>
             <ng-container *ngFor="let b of (this.googlesheet| filter:searchText ) " >
              <ng-container *ngFor="let a of (this.lis| filter:searchText )  ">
                <ng-container *ngFor="let c of (this.googlesheet1| filter:searchText )">
                  <tr *ngIf="!a.noMatch && a['shipmentTrackingStatus']=='Enroute For Delivery' && a['fleetInfo']['vehicle']['vehicleRegistrationNumber']===b['rc_regn_no'] &&c['vehicelenum'] ===a['fleetInfo']['vehicle']['vehicleRegistrationNumber'] ">
                      <td>{{a['shipmentNumber']}}</td> 
                      <td>{{a['fleetInfo']['vehicle']['vehicleRegistrationNumber']}}</td>

                    <td >
                        <button  [ngClass]="color(b['rc_fit_upto'])"></button>&nbsp;
                        <button  [ngClass]="color(b['rc_insurance_upto'])"></button>&nbsp;
                        <button  [ngClass]="color(b['rc_pucc_upto'])"></button>&nbsp;
                        <button  [ngClass]="color(b['rc_np_upto'])"></button>&nbsp;
                        <button  [ngClass]="color(b['rc_permit_valid_upto'])"></button>&nbsp;
                        
                    </td>
                    <td>{{date(c['readerReadTime'])}}</td>

               
                    
                    
                      <td><a href="https://www.google.com/maps/place/{{c['tollPlazaGeocode']}}" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: black;">{{c['tollPlazaName']}}</a></td>


                      <td>{{a['fleetInfo']['vehicle']['vehicleLoadType']['name']}}</td>
                      <td>{{GetFullName(a['creationTime'])}}</td>
                      <td>{{a['shipmentStages'][0]['place']['name']}}</td>
                      <td>{{a['shipmentStages'][1]['place']['name']}}</td>
                      <td>{{date(a['shipmentStages'][0]['arrivalTime'])}}</td>
                        <td  [ngClass]="{ 'green': subtractDates1(a['shipmentStages'][0]['gateInTime'] ,a['shipmentStages'][0]['arrivalTime']) > '-1 days 0 hours 0 minutes', 'red': subtractDates1(a['shipmentStages'][0]['gateInTime'] ,a['shipmentStages'][0]['arrivalTime']) <= '-1 days 0 hours 0 minutes'}" >{{subtractDates1(a['shipmentStages'][0]['gateInTime'] ,a['shipmentStages'][0]['arrivalTime'])}}</td>
                        <td  [ngClass]="{ 'green': subtractDates1(a['shipmentStages'][0]['departureTime'] ,a['shipmentStages'][0]['gateInTime']) > '-1 days 0 hours 0 minutes', 'red': subtractDates1(a['shipmentStages'][0]['departureTime'] ,a['shipmentStages'][0]['gateInTime']) <= '-1 days 0 hours 0 minutes'}" >{{subtractDates1(a['shipmentStages'][0]['departureTime'] ,a['shipmentStages'][0]['gateInTime'])}}</td>
                      <td>{{remaingkms(a['shipmentStages'][1]['tripPoint']['remainingDistance'])}}</td>
                      </tr>
              </ng-container>
              </ng-container>
            </ng-container>
          </tbody>
      </table>
  </div>
</div>
