<!-- <button class="button" (click)="gotoalltable()">ALL ORDERS TABLE</button> -->
<hr>
<div class="iframe">

<div class="iframe-2">
    <!-- <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=63bbb809-c003-4c70-88e0-9d19a1133a0c&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe>

    <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=63bbcb1b-14d0-4bbc-8a51-ec4c7a558779&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe>
    
    <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=63bbcbdf-c003-4b72-8a1a-9d19a11ba0f3&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe> -->
    <iframe class="chart-iframe" width="99%" height="900px"  src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/dashboards?id=e2feedaa-f129-4d16-b2f0-940568863716&theme=light&autoRefresh=true&maxDataAge=60&showTitleAndDesc=true&scalingWidth=fixed&scalingHeight=fixed"></iframe>
</div>
<div class="iframe-1">
    <iframe class="chart-iframe" width="1280" height="680"src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=63bcffaf-11ab-4803-8f42-f0332ee435d1&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe>
    <div>
        <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=bb4699e4-7422-4e25-bc9e-e57c32297f18&maxDataAge=3600&theme=dark&autoRefresh=true"></iframe>

        <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=e22c1c15-07d7-41e2-96bc-415ab463986c&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe>
        <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=63b3d4a3-6009-4129-888f-228b153e5965&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe>
        <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=8cc67e16-926e-4254-8e22-0940658a67e0&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe>
        <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=63b3d4a3-6009-4826-845b-228b153e5963&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe>
        <iframe class="chart-iframe" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-hcxmf/embed/charts?id=63b3d4a3-6009-4053-8e94-228b153e5961&maxDataAge=1800&theme=dark&autoRefresh=true"></iframe>
    </div>
</div>
</div>
