
<div class="table_heading">
    Billing &nbsp; <input class="caseno" style="font-size: 45px; width: 80px;  text-align: center; color: red; background-color: black; " type="text" [value]="nibba5" disabled>
  </div>
<div class="table5">
    <br>
    <table   class="shpl5" >
        <thead>
            <tr>
                
                <th>shipment Number</th>
                <th>Vehicle No.</th>
                <th>Vehicle type</th>
                <th>shipment created</th>
                <th>from</th>
                <th>to</th>
                <th>expected time</th>
                <th>gateInTime vs arrivalTime</th>
                <th>departureTime vs gateInTime</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let a of (this.lis| filter:searchText )  ">
                <tr >
                
                    <td>{{a['shipmentNumber']}}</td>
                  
                    <td>{{a['fleetInfo']['vehicle']['vehicleRegistrationNumber']}}</td>
                    <td>{{a['fleetInfo']['vehicle']['vehicleLoadType']['name']}}</td>
                    <td>{{GetFullName(a['creationTime'])}}</td>
                 
                  
                    <td>{{a['shipmentStages'][0]['place']['name']}}</td>
                    <td>{{a['shipmentStages'][1]['place']['name']}}</td>
                  
                    <td>{{date(a['shipmentStages'][0]['arrivalTime'])}}</td>
                 
                   

                      <td  [ngClass]="{ 'green': subtractDates1(a['shipmentStages'][0]['gateInTime'] ,a['shipmentStages'][0]['arrivalTime']) > '-1 days 0 hours 0 minutes', 'red': subtractDates1(a['shipmentStages'][0]['gateInTime'] ,a['shipmentStages'][0]['arrivalTime']) <= '-1 days 0 hours 0 minutes'}" >{{subtractDates1(a['shipmentStages'][0]['gateInTime'] ,a['shipmentStages'][0]['arrivalTime'])}}</td>
                      
                      <td  [ngClass]="{ 'green': subtractDates1(a['shipmentStages'][0]['departureTime'] ,a['shipmentStages'][0]['gateInTime']) > '-1 days 0 hours 0 minutes', 'red': subtractDates1(a['shipmentStages'][0]['departureTime'] ,a['shipmentStages'][0]['gateInTime']) <= '-1 days 0 hours 0 minutes'}" >{{subtractDates1(a['shipmentStages'][0]['departureTime'] ,a['shipmentStages'][0]['gateInTime'])}}</td>

                    <td>{{a['shipmentStages'][0]['tripPoint']['remainingDistance']}}</td>
                    </tr>
            </ng-container>
        </tbody>
    </table>
</div>