
<div class="table_heading">
    Billing     &nbsp; <input class="caseno" style="font-size: 45px; width: 80px;  text-align: center; color: red; background-color: black; " type="text" [value]="nibba5" disabled>
  </div>
<div class="table5">
    <br>
    <table class="shpl5" >
        <thead>
            <tr>
                
                <th>shipment Number</th>
                <th>GC number</th>
                <th>So numbber/</th>
               <th>order by</th>
               <th>po name</th>
               <th>po date</th>
            <th>from </th>
            <th>to</th>
               <th>pincode</th>
               <th>maiteral</th>
                <th>bill number</th>
                <th>bill Date</th>
                <th>bill submited or genr.</th>
                <th>grm number</th>
                <th>bill status</th>

                <th>total distance</th>
                <th>additional distance</th>
                <th>zone</th>
                <th>rate</th>

                <th>loading</th>
                <th>unloading</th>

                <th>halting charger</th>
                <th>two point loading /unloading</th>

                <th>additonal cost </th>
                <th>taxable value</th>
                <th>GST</th>
                <th>Grand total</th>
                <th>remarks </th>


              
                
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let a of (this.lis| filter:searchText )  ">
                <tr >
                
                    <td>{{a['shipmentNumber']}}</td>
                  
                   
                    </tr>
            </ng-container>
        </tbody>
    </table>
</div>