.navbar-open {
	transform: translateX(500px);
}

.main-container {
	display: flex;
}

.slide-outlet-right {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	margin-left: 10px;
	transition: margin-left 0.5s ease-in-out;
	display: none;
	overflow: scroll;
}

.nav-image {
	float: left;

	img {
		width: 100px;
		height: 50px;
	}
}

#footer {
	background-color: #050505;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	/* Height of the footer */
	opacity: .8;
	z-index: 0;
	// margin-bottom: 50px;
}

#scroll-to-top {
	margin-right: 20px;
	margin-top: 5px;
	float: right;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	color: white;
	border: 1px solid white;
	background-color: #151515;
}



.button {
	width: 100px;
	height: 37px;
	background-color: #d0d1d2;
	color: #151515;
	border: 0px solid black;
	border-radius: 5px;
	transition: .2s;
	text-transform: uppercase;
}

.button:hover {
	background-color: #151515;
	color: #fff;
	border-left: 8px solid #fff;
}

.hide1 {
	display: none;

	nav {
		display: inline;
	}
}

.open_button {
	width: 50px;
	background-color: black;
	height: 100vh;

	.open_logo {
		display: flex;
		justify-content: center;
	}
}

.navbar_footer {
	text-align: center;
	color: white;
	margin-top: 180px;
	z-index: 99;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	width: 260px;
	height: 100vh;
	z-index: 9;
	background: url('https://images.pexels.com/photos/1666012/pexels-photo-1666012.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav ul {
	opacity: .7;
	background-color: #111;
	width: 260px;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100vh;
}

nav ul li {
	/* Sub Menu */
}

.hide {
	display: none;
}

nav ul li a {
	cursor: pointer;
	font-family: Montserrat, helvetica neue, Arial, sans-serif;
	font-size: 15px;
	display: block;
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-ms-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

nav ul li a:hover {
	background: red;
	color: #fff;
}

.active {
	border-radius: 10px;
	background: red;
	// height: 34px;
	// border-right: 17px solid red;
	// border-top: 17px solid transparent;
	// border-bottom: 17px solid transparent;
}

nav ul li a .fa {
	width: 16px;
	text-align: center;
	margin-right: 5px;
	float: right;
}

nav ul ul {
	background: rgba(0, 0, 0, 0.2);
}

nav ul li ul li a {
	border-left: 4px solid transparent;
	padding: 10px 20px;
}

nav ul li ul li a:hover {
	border-left: 4px solid rgb(0, 204, 204);
}

.tooltiptext1 {
	visibility: hidden;
	width: 200px;
	background-color: #252525;
	color: #fff;
	opacity: .8;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

li:hover .tooltiptext1 {
	visibility: visible;
	margin-left: 120px;
}

.list{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

nav a:hover {
	background-color: rgba(17, 17, 17, 0.308);
	color: #111;
	border-radius: 10px;
}

.hide {
	nav {
		display: none;
	}
}

.search_text {
	display: flex;
}

.search_logo {
	margin-left: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	width: 25px;
	background-color: #fff;
}
.wrapper {
	margin-left: 260px;
	

	
}
.search_bar {
	margin-left: 260px;
	background-color: #333;
	padding: 20px;
	display: flex;
	height: 50px;
	width: 100%;
	justify-content: space-between;
}

.search_input {
	border: none;
	border-top-right-radius: 20px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 20px;
	width: 250px;
	color: #111;
	transition: all .15s ease-in-out;
}

.search_input:focus {
	outline: none;
	width: 350px;
	transition: all .15s cubic-bezier(.68, -.55, .265, 1.55);
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateX(0);
	}

	0% {
		transform: translateX(15px);
	}
}

@media only screen and (max-width: 1200px) {
	* {
		border: 1px solid red;
	}

	nav {
		margin-top: 66px;
		display: inline;
		margin-left: .5%;
		font-weight: bold;
		position: relative;
		color: #151515;
		background-color: #d0d1d2;
		height: 100vh;
		z-index: 9;
	}

	nav ul {
		display: flex;
		width: 300px;
		list-style: none;
		flex-direction: column;
	}

	nav ul li a {
		display: block;
		padding: 10px 15px;
		color: #151515;
		background-color: #d0d1d2;
		text-decoration: none;
		-webkit-transition: 0.2s linear;
		-moz-transition: 0.2s linear;
		-ms-transition: 0.2s linear;
		-o-transition: 0.2s linear;
		transition: 0.2s linear;
	}

	nav ul li a:hover {
		color: #fff;
		background-color: #151515;
	}

	nav ul li a .fa {
		width: 16px;
		text-align: center;
		margin-right: 5px;
		float: right;
	}

	nav ul ul {
		background: #333;
	}

	nav ul li ul li a {
		border-left: 4px solid transparent;
		padding: 10px 20px;
	}

	nav ul li ul li a:hover {
		border-left: 4px solid #fff;
	}
}