<div class="main-container">
  <nav [class.hide]="!showNavbar" class='animated bounceInDown bg-dark'>
    <div >
      <ul>
        <br>
        <div class="list">
          <div>
            <li>
              <img src="../assets/logo1.png" style="width: 100px; height: 90px;">
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink='/dashboard'> <i class="fa-solid fa-bank"></i>&nbsp; DashBoard</a>
              <span class="tooltiptext1">DashBoard will show</span>
            </li>
            <hr>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink='/pendingOrder'> <i class="fa-solid fa-list"></i>&nbsp; Pending Orders</a>
              <span class="tooltiptext1">Pending Orders will show</span>
            </li>
    
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/enforpickup'> <i
              class="fa-solid fa-truck-pickup"></i>&nbsp; Enroute for
            pickup</a> <span class="tooltiptext1">Enroute for pickup will
            show</span></li>
    
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/atpickup'> <i
                  class="fa-solid fa-truck-ramp-box"></i>&nbsp; at pickup</a>
              <span class="tooltiptext1">At Pickup will show</span>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/intransit'> <i
              class="fa-solid fa-truck-fast"></i>&nbsp; Intransit</a>
          <span class="tooltiptext1">Intransit will show</span>
        </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/atunloading'> <i
                  class="fa-solid fa-truck-field-un"></i>&nbsp; at unloading</a> <span class="tooltiptext1"> at unloading
                will
                show</span>
            </li>
            
            
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/completed'><i
                  class="fa-solid fa-clipboard-list"></i>&nbsp; Completed</a>
              <span class="tooltiptext1">Completed will show</span>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/charts'><i
                  class="fa-solid fa-chart-pie"></i>&nbsp; charts</a> <span class="tooltiptext1">chartswill show</span></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/orderform'> <i
                  class="fa-solid fa-file-waveform"></i>&nbsp; Order
                form</a> <span class="tooltiptext1">Order form will show</span></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/pod'> <i
                  class="fa-solid fa-file-export"></i>&nbsp; POD</a> <span class="tooltiptext1">POD will show</span></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/bill'> <i
                  class="fa-solid fa-money-bill-wheat"></i>&nbsp; Billing </a> <span class="tooltiptext1">Billing Info will
                show</span></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/payment'> <i
                  class="fa-solid fa-money-check-dollar"></i>&nbsp; payment</a>
              <span class="tooltiptext1">payment Info will show</span>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/mbr'> <i
                  class="fa-solid fa-envelopes-bulk"></i>&nbsp; MBR</a>
              <span class="tooltiptext1">MBR Info will show</span>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink='/qbr'> <i
                  class="fa-solid fa-envelope"></i>&nbsp; QBR</a>
              <span class="tooltiptext1">QBR Info will show</span>
            </li>
            <hr>
            <li><a (click)="logout()"> <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; Logout</a> <span
                class="tooltiptext1">Logout </span></li>
          </div>

          <div class="navbar_footer">
            © AGARWAL PACKERS AND MOVERS LTD. All Rights Reserved
          </div>
        </div>
       
       
        <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img style="width: 30px;" [src]="role=='admin' ? admin : role=='user' ? user :nouser">
          
        </li> -->
        
      </ul> 
    </div>
  
  </nav>
  <!-- <div  class="open_button" >
    <br>
    <div (click)="toggleNavbar()" class="open_logo"> <i class='fa fa-bars fa-3x' style="color: aliceblue;"></i>&nbsp;  </div>
  </div> -->
  <div>
    <div class="search_bar" [class.hide]="!showNavbar">
      <div class="search_text">
        <div class="search_logo">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input class="search_input" type="text" placeholder=" Search" [(ngModel)]="searchText" (input)="emitSearchText()">
      </div>
      <div style="color: azure;">
        <img style="width: 30px;" [src]="role=='admin' ? admin : role=='user' ? user :nouser"> <span
          style="text-transform: capitalize; font-size: 26px;">
          {{this.role}}
        </span>
      </div>
    </div>
    <div class="wrapper">
      <router-outlet [class.slide-outlet-right]="showNavbar"></router-outlet>
    </div>
  </div>
  <footer id='footer' style="display: none;">
    <button id="scroll-to-top">To Top</button>
  </footer>
</div>